In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv

In [2]:
#fileName = r'C:\Users\wangjuha\Desktop\Heat Pump Commissioning Review_01-10-20_15-16'

In [3]:
fileName=r'C:\Users\wangjuha\Desktop\Heat Pump Commissioning Review_01-10-20_15-16 - safe'

In [4]:
fileNameClean = fileName+' - clean.csv'

In [5]:
fileNameClean

'C:\\Users\\wangjuha\\Desktop\\Heat Pump Commissioning Review_01-10-20_15-16 - safe - clean.csv'

In [10]:
temp_df=pd.read_csv(fileName,skiprows=100,sep='\t')

In [11]:
len_header=len(temp_df.columns)+3

In [12]:
df = pd.read_csv(fileName,skiprows=len_header,sep='\t', encoding="unicode_escape")

In [13]:
df_header=pd.read_csv(fileName,nrows=len_header-2,sep='\t', encoding="unicode_escape")

In [14]:
def convert_SIEMENS(df2):
    time_list=[]
    date_list=[]
    timestamp_list=[]
    for i in range(len(df2)-1):
        time_list.append(dt.datetime.strptime(df2.head(-1)['Time'][i],'%H:%M:%S').time())
    for i in range(len(df2)-1):
        date_list.append(dt.datetime.strptime(df2.head(-1)['<>Date'][i],'%m/%d/%Y'))
    for j in range(len(date_list)):
        timestamp_list.append(dt.datetime.combine(date_list[j],time_list[j]))
    df21=df2.drop(columns=['<>Date', 'Time'])
    df22=df21.head(-1)
    df22.insert(loc=0, column='Timestamp', value=timestamp_list)
    for i in range(len(df_header)-3):
        df22.rename(columns={df_header.index[i][0][:-1]:df_header.index[i][1]},inplace=True)
    return df22

In [15]:
def is_number(s):
    """ Returns True is string is a number. """
    try:
        float(s)
        return True
    except ValueError:
        return False

In [16]:
def modify(row_num,col_name):
#replace the value of a cell with the average of its upper cell and its lower cell
    if is_number(df.loc[row_num+1,col_name]) and is_number(df.loc[row_num-1,col_name]):
        df.at[row_num,col_name]=(float(df.loc[row_num+1,col_name])+float(df.loc[row_num-1,col_name]))/2
    else:
        print('Missing data at row '+str(row_num)+' column: '+col_name)

In [17]:
error_list=[]
for n in range (1,21):
    for i in range (len(df['Point_'+str(n)])):
        if (is_number(df['Point_'+str(n)][i]) == False):
            error_list.append([i,n])
'Point_'+str(error_list[0][1])

'Point_1'

In [18]:
def automodify():
    for i in range(len(error_list)):
        modify(error_list[i][0],'Point_'+str(error_list[i][1]))
automodify()

Missing data at row 917 column: Point_1
Missing data at row 918 column: Point_1
Missing data at row 919 column: Point_1
Missing data at row 920 column: Point_1
Missing data at row 921 column: Point_1
Missing data at row 922 column: Point_1
Missing data at row 923 column: Point_1
Missing data at row 917 column: Point_2
Missing data at row 918 column: Point_2
Missing data at row 919 column: Point_2
Missing data at row 920 column: Point_2
Missing data at row 921 column: Point_2
Missing data at row 922 column: Point_2
Missing data at row 923 column: Point_2
Missing data at row 917 column: Point_3
Missing data at row 918 column: Point_3
Missing data at row 919 column: Point_3
Missing data at row 920 column: Point_3
Missing data at row 921 column: Point_3
Missing data at row 922 column: Point_3
Missing data at row 923 column: Point_3
Missing data at row 917 column: Point_4
Missing data at row 918 column: Point_4
Missing data at row 919 column: Point_4
Missing data at row 920 column: Point_4
Missing data at row 921 column: Point_4
Missing data at row 922 column: Point_4
Missing data at row 923 column: Point_4
Missing data at row 917 column: Point_5
Missing data at row 918 column: Point_5
Missing data at row 919 column: Point_5
Missing data at row 920 column: Point_5
Missing data at row 921 column: Point_5
Missing data at row 922 column: Point_5
Missing data at row 923 column: Point_5
Missing data at row 917 column: Point_6
Missing data at row 918 column: Point_6
Missing data at row 919 column: Point_6
Missing data at row 920 column: Point_6
Missing data at row 921 column: Point_6
Missing data at row 922 column: Point_6
Missing data at row 923 column: Point_6
Missing data at row 917 column: Point_9
Missing data at row 918 column: Point_9
Missing data at row 919 column: Point_9
Missing data at row 920 column: Point_9
Missing data at row 921 column: Point_9
Missing data at row 922 column: Point_9
Missing data at row 923 column: Point_9
Missing data at row 917 column: Point_10
Missing data at row 918 column: Point_10
Missing data at row 919 column: Point_10
Missing data at row 920 column: Point_10
Missing data at row 921 column: Point_10
Missing data at row 922 column: Point_10
Missing data at row 923 column: Point_10
Missing data at row 917 column: Point_11
Missing data at row 918 column: Point_11
Missing data at row 919 column: Point_11
Missing data at row 920 column: Point_11
Missing data at row 921 column: Point_11
Missing data at row 922 column: Point_11
Missing data at row 923 column: Point_11
Missing data at row 917 column: Point_13
Missing data at row 918 column: Point_13
Missing data at row 919 column: Point_13
Missing data at row 920 column: Point_13
Missing data at row 921 column: Point_13
Missing data at row 922 column: Point_13
Missing data at row 923 column: Point_13
Missing data at row 921 column: Point_15
Missing data at row 922 column: Point_15
Missing data at row 923 column: Point_15
Missing data at row 920 column: Point_16
Missing data at row 921 column: Point_16
Missing data at row 922 column: Point_16
Missing data at row 923 column: Point_16
Missing data at row 498 column: Point_17
Missing data at row 499 column: Point_17
Missing data at row 500 column: Point_17
Missing data at row 917 column: Point_17
Missing data at row 918 column: Point_17
Missing data at row 919 column: Point_17
Missing data at row 920 column: Point_17
Missing data at row 921 column: Point_17
Missing data at row 922 column: Point_17
Missing data at row 923 column: Point_17
Missing data at row 917 column: Point_18
Missing data at row 918 column: Point_18
Missing data at row 919 column: Point_18
Missing data at row 920 column: Point_18
Missing data at row 921 column: Point_18
Missing data at row 922 column: Point_18
Missing data at row 923 column: Point_18
Missing data at row 917 column: Point_19
Missing data at row 918 column: Point_19
Missing data at row 919 column: Point_19
Missing data at row 920 column: Point_19
Missing data at row 921 column: Point_19
Missing data at row 922 column: Point_19
Missing data at row 923 column: Point_19

In [19]:
df=convert_SIEMENS(df)

C:\Users\wangjuha\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [20]:
df

,Timestamp,SW.AC10.PHT,SW.AC10.PHV,SW.AC11.SAT1,SW.AC11.PHV,SW.AC11.RHV1,SW.AC11.RHV2,SW.AHU13.HD.HCT,SW.AHU13.CD.HCT,SW.AHU12.HD.HCT,...,SW.AHU13.CD.RHCT,SW.AHU12.CD.RHCT,SW.AHU12.CD.HCV,SW.AHU12.HD.HCV,SW.AHU13.CD.HCV,SW.AHU13.HD.HCV,SW.AHU12.CD.SAT,SW.AHU12.HD.SAT,SW.AHU13.CD.SAT,SW.AHU13.HD.SAT
0,2020-01-01 00:00:00,56.70,22.65,79.99,99.20,30.66,0.00,78.15,55.22,77.25,...,59.32,57.63,33.16,27.27,25.00,30.64,60.30,79.77,60.08,80.06
1,2020-01-01 00:15:00,56.70,22.81,79.99,99.20,30.66,0.00,77.94,54.82,77.54,...,58.89,57.70,33.05,26.06,25.22,30.64,60.40,80.10,59.68,79.92
2,2020-01-01 00:30:00,52.81,22.71,80.13,99.20,30.66,0.00,78.04,55.00,77.50,...,59.22,57.38,34.09,27.22,26.13,31.70,60.04,79.99,60.01,79.92
3,2020-01-01 00:45:00,52.81,28.19,80.13,99.20,30.66,0.00,78.04,54.75,77.50,...,58.96,57.09,33.04,26.15,26.10,31.70,59.94,79.99,59.79,79.95
4,2020-01-01 01:00:00,54.57,27.96,80.31,99.20,30.66,0.00,78.08,55.47,77.47,...,59.29,57.02,34.09,27.19,27.04,31.63,59.79,79.95,59.94,80.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,2020-01-10 13:45:00,No Data,No Data,No Data,No Data,No Data,No Data,78.26,55.00,No Data,...,57.99,No Data,22.45,20.43,20.86,No Data,No Data,No Data,59.79,80.17
920,2020-01-10 14:00:00,No Data,No Data,No Data,No Data,No Data,No Data,78.08,55.87,No Data,...,59.43,No Data,22.72,20.30,No Data,No Data,No Data,No Data,61.05,79.99
921,2020-01-10 14:15:00,No Data,No Data,No Data,No Data,No Data,No Data,77.90,54.61,No Data,...,57.63,No Data,22.79,No Data,No Data,No Data,No Data,No Data,59.50,79.81
922,2020-01-10 14:30:00,No Data,No Data,No Data,No Data,No Data,No Data,77.76,54.32,No Data,...,56.88,No Data,25.71,No Data,No Data,No Data,No Data,No Data,59.07,79.77
923,2020-01-10 14:45:00,No Data,No Data,No Data,No Data,No Data,No Data,78.01,54.82,No Data,...,57.96,No Data,NaN,No Data,No Data,No Data,No Data,No Data,60.08,79.99

In [21]:
df.to_csv(fileNameClean,sep=',')

In [ ]:
##############################SCRATCH##############################

In [167]:
def check_chunck(col):
    wrongdf = df[df[col] == 0]
    if len(wrongdf.index)>13:
        for i in range(len(wrongdf.index)-13):
            if (wrongdf.index[i]==wrongdf.index[i+1]-1==wrongdf.index[i+2]-2==wrongdf.index[i+3]-3==wrongdf.index[i+4]-4==
            wrongdf.index[i+5]-5==wrongdf.index[i+6]-6==wrongdf.index[i+7]-7==wrongdf.index[i+8]-8==wrongdf.index[i+9]-9==
            wrongdf.index[i+10]-10==wrongdf.index[i+11]-11==wrongdf.index[i+12]-12):
                print("There is a large chunck of errors on " + wrongdf.loc[wrongdf.index[i],"Timestamp"])

check_chunck('Point_1')
check_chunck('Point_2')
check_chunck('Point_3')
check_chunck('Point_6')

In [180]:
for n in range(1,21):
    point_+str(n)=n*2

SyntaxError: can't assign to operator (<ipython-input-180-68b1a392bf7a>, line 2)

In [9]:
time_list = df['Time'].tolist() 
date_list = df['<>Date'].tolist()
def check_time(df):
#Conduct verify_time function to all the timestamps
    #correct=True
    j=0
    k=1
    for i in range(len(time_list)-1):
        if(i>0):
            Point_1_val=(float(df.loc[i+1,'Point_1'])+float(df.loc[i-1,'Point_1']))/2
            Point_2_val=(float(df.loc[i+1,'Point_2'])+float(df.loc[i-1,'Point_2']))/2
            Point_3_val=(float(df.loc[i+1,'Point_3'])+float(df.loc[i-1,'Point_3']))/2
            Point_4_val=(float(df.loc[i+1,'Point_4'])+float(df.loc[i-1,'Point_4']))/2

            
        if (not verify_large_missing_time(i)):
            print('OMG')
            print(i)
            line = pd.DataFrame({"Timestamp":(datetime.datetime.strptime(time_list[i], '%H:%M:%S')+ datetime.timedelta(minutes=15)).strftime('%m/%d/%Y %H:%M')},index=[i])
            df=pd.concat([df.iloc[:i+j+k], line, df.iloc[i+j+k:]]).reset_index(drop=True)
            j=j+1
                
            
        elif (not verify_time(i)):
            print("There is a false time at "+time_list[i]+" to "+time_list[i+1])
            #Create a new line with plus 15 minutes and data of the average of the upper cell data and lower cell data
            line = pd.DataFrame({"Timestamp":(datetime.datetime.strptime(time_list[i], '%H:%M:%S')+ datetime.timedelta(minutes=15)).strftime('%m/%d/%Y %H:%M'),
                    'Point_1':Point_1_val,'Point_2':Point_2_val ,'Point_3':Point_3_val ,'Point_4':Point_4_val},index=[i])
            df=pd.concat([df.iloc[:i+j+k], line, df.iloc[i+j+k:]]).reset_index(drop=True)
            k=k+1
            #correct=False
#Report false if anything is wrong; will be used in while loops
    #df.to_csv(fileNameClean,sep=',')
    return df
def verify_time(i):
#Verify if the time under timestamp matches with its lower cell
    later=(datetime.datetime.strptime(time_list[i], '%H:%M:%S')+ datetime.timedelta(minutes=15))
    if (later==datetime.datetime.strptime(time_list[i+1], '%H:%M:%S')):
        return True
    else:
        return False
def verify_large_missing_time(i):
#Verify if the time under timestamp matches with its lower cell
    correct=False
    later=(datetime.combine(datetime.date.strptime(date_list[i], '%m/%d/%Y')+datetime.time.strptime(time_list[i], '%H:%M:%S'))+ datetime.timedelta(minutes=15))
    for j in range(12):
        if (later==datetime.combine(datetime.time.strptime(time_list[i+1], '%H:%M:%S')+datetime.date.strptime(date_list[i+1], '%m/%d/%Y'))):
            correct=True
        else:
            later=later + datetime.timedelta(minutes=15)
    return correct
#verify_large_missing_time(5245)
df1=check_time(df)
#'%H:%M:%S'

AttributeError: module 'datetime' has no attribute 'combine'

In [297]:
print(wrong_list[0])

6/30/2019 18:15

In [298]:
later=(datetime.datetime.strptime(wrong_list[0], '%m/%d/%Y %H:%M')+ dt.timedelta(minutes=15))
before=(datetime.datetime.strptime(wrong_list[0], '%m/%d/%Y %H:%M')- dt.timedelta(minutes=15))

In [110]:
def automodify():
#Check for errors in Relative Humidity and fix when incorrect(below 20% or above 75%)
    for i in range(len(df.loc[(df[col_1]<=20)|(df[col_1]>=75)])):

        modify(df.loc[(df[col_1]<=20)|(df[col_1]>=75)].index[0],col_1)
    for i in range(len(df.loc[(df[col_3]<=20)|(df[col_3]>=75)])):

        modify(df.loc[(df[col_3]<=20)|(df[col_3]>=75)].index[0],col_3)
    
#Check for errors in Temperature and fix when incorrect(below 40F(around 5 celsius) or above 120F(around 45 celsius))
    for i in range(len(df.loc[(df[col_2]<=40)|(df[col_2]>=120)])):

        modify(df.loc[(df[col_2]<=40)|(df[col_2]>=120)].index[0],col_2)
    for i in range(len(df.loc[(df[col_4]<=40)|(df[col_4]>=120)])):

        modify(df.loc[(df[col_4]<=40)|(df[col_4]>120)].index[0],col_4)
automodify()

NameError: name 'col_1' is not defined

In [299]:
later_str = later.strftime('%m/%d/%Y %H:%M')
print(later_str)

06/30/2019 18:30

In [317]:
i=df.loc[8,'ArtStorageUnit SpaceRH 15_Min(%)']
print(i)

50.4

In [302]:
wrongdf.loc["ArtStorageUnit SpaceRH 15_Min(%)",wrong_list[0]] = df.loc["ArtStorageUnit SpaceRH 15_Min(%)",wrong_list[0]+ dt.timedelta(minutes=15)]

TypeError: can only concatenate str (not "datetime.timedelta") to str

In [327]:
wrongdf = df[df['ArtStorageUnit SpaceRH 15_Min(%)'] == 50.4]